* {
  margin: 0;
}

body {
  background-color: rgb(54, 52, 61);
}

#titulo-principal {
  text-align: center;
  font-size: 50px;
  background-color: lightgray;
  font-family: Jura, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 150px 0 150px;
  padding: 50px;
}

#indice {
  font-family: Jura, sans-serif;
  font-size: 30;
  font-weight: 400;
  font-style: italic;
  color: whitesmoke;
  text-decoration: underline;
  margin-left: 10px;
}

.bloco-indice {
  margin: 0 20px 110px;
}

.quem-sou-eu{
  margin-bottom: 110px;
  display: inline-block;
}

.foto-mauricio {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
  background-color: rosybrown;
  padding:4px 9px;
  border-radius: 100%;
}

.circled {
  border-radius: 100%;
  margin-top: 5px;
}
.descricao-mauricio {
  width: 96%;
  margin-top: 25px;
  text-align: justify;
}

p, ul, ol {
  font-family: Jura, sans-serif;
  color: whitesmoke;
  text-decoration: none;
}

h3 {
  margin-bottom: 15px;
  font-family: Jura, sans-serif;
  color: whitesmoke;
  font-style: italic;
  text-decoration: underline;
}

.item-da-lista-link {
  color: whitesmoke;
  text-decoration: none;
}

.secao-listas-hab-int-cont {
  margin-left: 20px;
}

.secao-habilidades {
  margin-bottom: 20px;
}

.otimo-comunicador {
  color:cornflowerblue
}